@import './variables.scss';
@import './mixin.scss';
@import './vant-change.scss';

html,
body .app {
  color: #000;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  height: 100%;
  background: #f6f6f6;
}

body,
page {
  min-height: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  color: #000;
}
img {
  display: block;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}

textarea::-webkit-input-placeholder {
  color: #999;
}
textarea::-moz-placeholder {
  color: #999;
}
textarea::-moz-placeholder {
  color: #999;
}
textarea:-ms-input-placeholder {
  color: #999;
}

.input-placeholder {
  color: #cccccc;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #000;
}

.text-right {
  text-align: right;
}

.color-red {
  color: #ef1244 !important;
}
.color-main {
  color: $uni-color-primary;
}
.color-gray {
  color: rgba(32, 25, 50, 0.3);
}
.fs-18 {
  font-size: 18px;
  font-weight: 25px;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fs-12 {
  font-size: 12px;
  line-height: 17px;
}
.fs-13 {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}
.fs-14 {
  font-size: 14px;
  line-height: 20px;
}
.fs-16 {
  font-size: 16px;
  line-height: 22px;
}
.color-333 {
  color: #333;
}
.color-666 {
  color: #666;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-area {
  width: 100%;
  padding-bottom: 10px;
  .layout-footer {
    display: none;
  }
  &.need-tab {
    padding-bottom: 55px;
    .layout-footer {
      display: block;
    }
  }
}

@supports (bottom: env(safe-area-inset-bottom)) {
  .top-area {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .top-area.need-tab {
    padding-bottom: calc(55px + env(safe-area-inset-bottom));
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  &-content {
    background: #ffffff;
    border-radius: 24px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    position: relative;
  }
}

.fs-18 {
  font-size: 18px !important;
  line-height: 24px !important;
}
.fs-24 {
  font-size: 24px !important;
  line-height: 28px !important;
}
.fs-16 {
  font-size: 16px !important;
  line-height: 20px !important;
}
.fs-12 {
  font-size: 12px !important;
  line-height: 18px !important;
}

.color-000 {
  color: #000 !important;
}
.font-bold {
  font-weight: bold !important;
}
.color-blue {
  color: #1143a4;
}
.color-orange {
  color: #fc3122 !important;
}
.align-end {
  align-items: flex-end !important;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-submit-btn {
  margin: 20px 24px;
  height: 48px;
  width: 327px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 900;
  background: #1143a4;
  color: #fff;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-sizing: border-box;
  padding: 0;
  background: linear-gradient(180deg, #fe816f 0%, #fc2214 100%);
  border-radius: 24px;
  box-shadow: 0px 4px 10px 0px #f7b5ae, inset 0px 1px 4px 0px #ffc7c0;
  &:disabled {
    background: #e9e9e9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: #999999;
    box-shadow: none;
  }
}

.has-nav {
  .content-area {
    // TODO 这里高度需要配置
    padding-top: 80px !important;
  }
}

.has-tab {
  .web-layout {
    height: calc(100% - 80px);
  }
}